// components/inventory_stats/InventoryStats.scss
.inventory-stats {
  background-color: #fff;
  padding: 20px;

  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 50%;
  border-bottom: 1px solid rgb(242, 242, 242);

  h2 {
    font-size: 1.8rem;
    margin-bottom: 16px;
    color: #333;
  }
}

.inventory-stats__content {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-flow: column;

    &__label {
      font-size: 1rem;
      font-weight: 600;
    }

    &__value {
      font-size: 2rem;
      font-weight: 600;
    }
  }
}
